*{
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100%;
}

h3 {
  color: white;
}

#friend-info {
  background-color: #000;
  color:aliceblue;
  font-size: 2rem;
}

.favorite-button {
  position: absolute;
  right: 17px;
  top: 18px;
}

body {
  background: #262626;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  min-height: 100vh;
  background-color: #000;

}

.friends-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: white;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006)
}

.swiper-slide img {
  display: block;
  width: 100%;
}

#friend-image img {
  width: 50%;
  height: 100%;
  border-radius: 75%;
}